@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;700&family=Roboto:wght@700&display=swap');


body, html{
    margin: 0;
    padding: 0;
    background-color: black;
}

.header {
    display: flex;
    justify-content: space-between;
    align-items: top;
}

.titre {
    font-family: 'Roboto', sans-serif;
    color: white;
}

.flèche {
    margin-left:25px;
    height:50px;
}

.container {
    background-color: black;
    width: 100%;
    padding-top: 30px;
    padding-left: 10vw;
    padding-right: 10vw;
}

.bar {
    background-color: #F8F07E;
    height: 2pt;
    width: 70px;
    bottom:20px;
    margin-bottom: 25px;
}

.profil {
    display: flex;
    margin: 0 10vw 0 10vw;
}

#mathis {
    width: 30vw;
}

.infos {
    margin-left: 5vw;
}

#nom {
    color: white;
    font-size: 18px;
    font-family: 'Poppins', sans-serif;
    font-weight: bold;
}

h2 {
    margin-top: 5%;
    color: white;
    font-size: 16px;
    font-family: 'Poppins', sans-serif;
}

.section {
    color: white;
    font-size: 16px;
    display: flex;
    flex-direction: column;
    background-color: rgba(255, 255, 255, 0.122);
    border-top: white solid 1.5px;
    border-bottom: white solid 1.5px;
    padding: 4vw 10vw 4vw 10vw;
    margin-top: 5vh;
}

.liens {
    color: white;
    text-decoration: none;
    font-family: 'Poppins', sans-serif;
    font-weight: lighter;
    font-size: 18px;
    margin: 2em 0 2em 0 ;
    margin-top: 0.5em;
    margin-bottom: 0.5em;
}

.logo_copyright_container {
    display: flex;
    justify-content: center;
}

.logo_copyright {
    position: fixed;
    bottom: 2%;
}

.logo_container {
    display: flex;
    justify-content: center;
    margin-bottom: 1vh;
}

#logo {
    width: 40px;
}

#copyright {
    display: flex;
    justify-content: center;
    text-align: center;
    color: white;
    font-size: 12px;
    font-family: 'Poppins', sans-serif;
    font-weight: lighter;
}